/*MENU STYLES*/

body {
    margin: 0px 0px;
    text-align: center;
}

.toggle-off {
    display: none;
}

button {
    background: #515151;
    border: none;
    width: 100px;
    height: 45px;
    color: white;
    margin: 10px;
    letter-spacing: 2px;
    font-size: 10px;
    text-transform: uppercase;
}

button:hover {
    opacity: .7;
}

ul {
    list-style: none;
}

#menu-body {
    width: 100%;
}

.overlay {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 15;
    position: absolute;
}

#credit-info {
    list-style: none;
    font-size: 17px;
    font-family: arial;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: white;
    padding: 5em;
    width: 25%;
    border-radius: 3px;
    display: inline-block;
}

.credit-container {
    position: absolute;
    width: 100%;
    z-index: 50;
}


/*GAME STYLE*/

#gameBody {
    position: relative;
    display: none;
    height: 500px;
    width: 1200px;
    overflow: hidden;
    background: #000 url(https://tinyurl.com/7xn9sz84) repeat-x right;
}

#lp-counter {
    position: absolute;
    right: 10%;
    top: 7%;
}

#lp-container {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: white;
    background: #3d5b8ab3;
    padding: 1em 2em;
}

.lpnum {
    font-weight: bold;
    font-size: 5em;
    top: -10px;
    position: relative;
    margin: 0;
}

#lilbro {
    position: relative;
    top: 400px;
    left: -24em;
}

#obs {
    position: relative;
    top: 310px;
    left: 1100px;
    animation: obj 2s infinite linear;
}

#obs>img {
    width: 10%;
}

#jackLostImg {
    position: relative;
    top: -10vw;
    display: none;
    z-index: 50;
    height: 75em;
}

#bgMonster {
    position: relative;
    top: -15em;
    animation: summon 10s infinite linear;
}

#bgMonster>img {
    width: 35em;
}


/*GAME ANIMATION*/

.jumpAni {
    animation: jump 0.4s;
}

@keyframes jump {
    0% {
        top: 420px;
    }
    50% {
        top: 250px;
    }
    100% {
        top: 420px;
    }
}

.dbljumpAni {
    animation: dbljump 0.5s;
}

@keyframes dbljump {
    0% {
        top: 250;
    }
    50% {
        top: 200;
    }
    100% {
        top: 420px;
    }
}

@keyframes obj {
    0% {
        left: 1500px;
    }
    100% {
        left: -1200px;
    }
}

@keyframes summon {
    0% {
        left: 1500px;
    }
    100% {
        left: -1200px;
    }
}

@keyframes charMove {
    0% {
        left: 0px;
    }
    100% {
        left: 1500px;
    }
}